.navBar {
	display: flex;
	justify-content: space-between;
	background: #222;
	padding: 1em;
}

.list {
	display: flex;
	list-style: none;
	align-items: center;
	gap: 30px;
}

.list a {
  color: #eee;
  text-decoration: none;
}

.list a:hover {
  color: #ffbb33;
  text-decoration: none;
}